/* start gloobal rules  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
:root {
  --main-transition: 0.3s;
  --main-color: #0075ff;
  --main-color-trans: #0075ff33;
  --alt-color: #0d69d5;
  --orange: #f59e0b;
  --orange-trans: #f59e0b33;
  --green: #22c55e;
  --green-trans: #22c55e33;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
textarea {
  resize: none;
}
.page {
  display: flex;
}
.page nav {
  background-color: #fff;
  min-width: 200px;
  max-width: 230px;
  flex: 1;
  padding: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .page nav {
    max-width: fit-content;
    min-width: fit-content;
  }
}
.page nav h1 {
  font-size: 19px;
  text-align: center;
  margin: 5px 0 30px;
  padding-bottom: 20px;
  position: relative;
}
.page nav h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80px;
  height: 2px;
  background-color: #000;
}
.page nav h1::after {
  content: "";
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid #fff;
}
@media (max-width: 767px) {
  .page nav h1 {
    font-size: 13px;
    margin: 0;
    padding-bottom: 10px;
  }
  .page nav h1::before,
  .page nav h1::after {
    display: none;
  }
}
.page nav ul li a {
  margin-bottom: 5px;
  padding: 10px;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  color: #000;
  transition: var(--main-transition);
}
.page nav ul li.selected a {
  background-color: #f6f6f6;
}
.page nav ul a:hover {
  background-color: #f6f6f6;
}
.page nav ul li a i {
  margin-right: 5px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .page nav ul li a {
    text-align: center;
  }
  .page nav ul li a i {
    margin: 0;
  }
  .page nav ul li a span {
    display: none;
  }
}
.page main {
  flex: 1;
  background-color: #f1f5f9;
  box-shadow: inset rgba(100, 100, 111, 0.22) 10px 0px 10px -10px;
}

.page main > header {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset rgba(100, 100, 111, 0.22) 10px 0px 10px -10px;
}
.page main > header form {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: #777;
  font-size: 13px;
}
.page main > header input {
  transition: var(--main-transition);
  border: none;
  width: 125px;
}
.page main > header input:focus {
  width: 160px;
}

.page main > header input:focus::placeholder {
  visibility: hidden;
}

.page main > header input:active {
  width: 160px;
}
.page main > header input:active::placeholder {
  visibility: hidden;
}
.page main > header .user {
  display: flex;
  align-items: center;
}
.page main > header .user i {
  margin-right: 15px;
  position: relative;
  font-size: 20px;
}
.page main > header .user i::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -5px;
  right: -6px;
}
.page main > header .user img {
  width: 35px;
}

.page main h2 {
  padding-bottom: 15px;
  font-size: 35px;
  position: relative;
  margin: 30px 20px;
}
@media (max-width: 767px) {
  .page main h2 {
    margin-left: 10px;
  }
}
.page main h2::after {
  content: "";
  position: absolute;
  width: 135px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #000 35%, #fff 20%);
}
.page main .content {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .page main .content {
    padding: 0 10px;
    gap: 10px;
  }
}
.page main section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}
.page main .welcome {
  padding: 0;
}
.page main .welcome header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}
.page main h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.page main h3 + span {
  color: #777;
  font-size: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
.page main .welcome header span {
  font-size: 16px;
}
@media (max-width: 767px) {
  .page main .welcome header span {
    margin: 0 0 30px 30px;
  }
}
.page main .welcome header .person {
  width: 200px;
}
@media (max-width: 767px) {
  .page main .welcome header .person {
    display: none;
  }
}
.page main .welcome header .avatar {
  position: absolute;
  width: 65px;
  border: 4px solid #fff;
  border-radius: 50%;
  bottom: 0;
  transform: translateY(50%);
}
@media (max-width: 767px) {
  .page main .welcome header .avatar {
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
.page main .welcome .info {
  margin-top: 80px;
  display: flex;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px;
}
@media (max-width: 767px) {
  .page main .welcome .info {
    flex-direction: column;
    gap: 25px;
    margin-top: 55px;
  }
}
.page main .welcome .info div {
  flex: 1;
  text-align: center;
}
.page main .welcome .info span {
  margin-top: 15px;
  color: #777;
  display: inline-block;
  font-size: 14px;
}
.page main .welcome a {
  display: block;
  width: fit-content;
  position: relative;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 20px;
  font-size: 14px;
  margin-left: auto;
  transition: var(--main-transition);
}
.page main .welcome a:hover {
  background-color: var(--alt-color);
}
.page main .draft span {
  font-size: 15px;
}
.page main .draft [type="text"],
.page main .draft textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 13px;
  background-color: #eee;
  border-radius: 6px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.page main .draft textarea {
  height: 200px;
}
.page main .draft [type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: fit-content;
  position: relative;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-left: auto;
  transition: var(--main-transition);
}
.page main .targets .item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.page main .targets .item.money {
  --item-color: var(--main-color);
  --item-color-trans: var(--main-color-trans);
}
.page main .targets .item.projects {
  --item-color: var(--orange);
  --item-color-trans: var(--orange-trans);
}
.page main .targets .item.team {
  --item-color: var(--green);
  --item-color-trans: var(--green-trans);
}
.page main .targets .item i {
  color: var(--item-color);
  background-color: var(--item-color-trans);
  width: 80px;
  height: 80px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page main .targets .item .info {
  flex: 1;
}
.page main .targets .item .info span {
  color: #777;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.page main .targets .item .info .holder {
  width: 100%;
  background-color: var(--item-color-trans);
  height: 4px;
  margin-top: 10px;
}
.page main .targets .item .info .holder span {
  height: 100%;
  background-color: var(--item-color);
  position: relative;
}
.page main .targets .item .info .holder span::before {
  content: attr(percentage);
  position: absolute;
  background-color: var(--item-color);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  right: 0;
  bottom: 15px;
  transform: translateX(50%);
}
.page main .targets .item .info .holder span::after {
  content: "";
  position: absolute;
  /* background-color: var(--item-color); */
  right: 0;
  transform: translateX(50%);
  border: 5px solid;
  border-color: var(--item-color) transparent transparent;
  bottom: 5px;
}
.page main .statistics .info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.page main .statistics .info .box {
  width: calc(50% - 20px);
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}
@media (max-width: 767px) {
  .page main .statistics .info .box {
    width: 100%;
  }
}
.page main .statistics .info .box i {
  font-size: 26px;
}
.page main .statistics .info .box i.total {
  color: var(--orange);
}
.page main .statistics .info .box i.pending {
  color: var(--main-color);
}
.page main .statistics .info .box i.closed {
  color: var(--green);
}
.page main .statistics .info .box i.deleted {
  color: #f44336;
}
.page main .statistics .info strong {
  display: block;
  margin: 10px ;
  font-size: 25px;
}
.page main .statistics .info span {
  font-size: 13px;
  color: #777;
}
.page main .news .box {
  display: flex;
  gap: 15px;
  align-items: center;
}
@media (max-width: 767px) {
  .page main .news .box {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
.page main .news .box:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.page main .news .box img {
  width: 100px;
  border-radius: 4px;
  /* margin-right: 15px; */
}
.page main .news .box .text {
  margin-right: auto;
  /* width: fit-content; */
}
@media (max-width: 767px) {
  .page main .news .box .text {
    margin: auto;
  }
}
.page main .news .box p {
  color: #777;
  font-size: 14px;
  margin-top: 10px;
}
.page main .news .box span {
  background-color: #eee;
  padding: 7px 10px;
  font-size: 13px;
  border-radius: 6px;
}